<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Voting Screen fragment</title>
    </head>

    <body>
        <div th:fragment="voting-screen">
            <h3>Vota por la mejor secuencia</h3>
            <div id="voting-screen-cards-container" class="d-flex flex-row gap-3 overflow-auto">

            </div>
            <button id="vote-confirm-button" class="btn btn-primary mt-3" type="button" disabled>Confirmar voto</button>
        </div>
    </body>
</html>
