<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <th:block th:replace="~{fragments/head :: header}" />
    <title th:text="#{dashboard.pageTitle}"></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
  </head>

  <body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
      
      <div class="container my-5">
        <h1 class="mb-4" th:text="#{dashboard.title}"></h1>

        <div class="row g-4">

          <!-- Total users -->
          <div class="col-md-3">
            <div class="card shadow-sm">
              <div class="card-body text-center h-100">
                <h3 class="mb-3" th:text="#{dashboard.totalUsers}"></h3>
                <p class="fs-3" th:text="${stats.totalUsers}">0</p>
              </div>
            </div>
          </div>

          <!-- Public rooms -->
          <div class="col-md-3">
            <div class="card shadow-sm">
              <div class="card-body text-center h-100">
                <h3 class="mb-3" th:text="#{dashboard.publicRooms}"></h3>
                <p class="fs-3" th:text="${stats.publicRooms}">0</p>
              </div>
            </div>
          </div>

          <!-- Private Rooms -->
          <div class="col-md-3">
            <div class="card shadow-sm">
              <div class="card-body text-center h-100">
                <h3 class="mb-3" th:text="#{dashboard.privateRooms}"></h3>
                <p class="fs-3" th:text="${stats.privateRooms}">0</p>
              </div>
            </div>
          </div>

          <!-- Number of guesses today -->
          <div class="col-md-3">
            <div class="card shadow-sm">
              <div class="card-body text-center h-100">
                <h3 class="mb-3" th:text="#{dashboard.totalSongs}"></h3>
                <p class="fs-3" th:text="${stats.totalSongs}">0</p>
              </div>
            </div>
          </div>  

        </div>
      </div>

      <div class="container my-5">
        <h1 class="mb-4" th:text="#{dashboard.observability}"></h1>
        
        <form method="get" action="/admin/dashboard" class="row gb-3 mb-4">

          <div class="col-md-4">
            <h2>Elegir usuario</h2>
            <select name="userId" class="form-select">
              <option value=""> Todos los usuarios </option>
              <option 
              th:each="user: ${users}"
              th:value="${user.id}"
              th:text="${user.username}"
              th:selected="${user.id == selectedUserId}">
            </option>
            </select>
          </div>

           <div class="col-md-4">
            <h2>Selecciona una acción</h2>
            <select name="actionPerformed" class="form-select">
              <option value=""> Todas las acciones </option>
              <option value="USER_LOGGED_IN">INICIO DE SESIÓN</option>
              <option value="REGISTERED_USER">NUEVOS REGISTROS</option>
              <option value="JOINED_LOBBY">UNIDOS A LOBBY</option>
              <option value="STARTED_GAME">EMPEZADO JUEGOS</option>
              <option value="GUESSED_SONG">ADIVINADO LA CANCIÓN</option>
            </select>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Filtrar</button>
            <a href="/admin/dashboard" class="btn btn-secondary">Limpiar Filtros</a>
          </div>
        </form>  

        <table class="table">
          <thead>
            <tr>
              <th>Usuario (Quien)</th>
              <th>Action (Qué)</th>
              <th>Details </th>
              <th>Time (Cuándo)</th>
              <th>Acción</th>
              
            </tr>
          </thead>
          <tbody>
            <tr th:each="l : ${logs}">
              <td th:text="${l.user.username}"></td>
              <td th:text="${l.actionPerformed}"></td>
              <td th:text="${l.moreDetails}"></td>
              <td th:text="${#temporals.format(l.time, 'dd/MM/yyyy HH:mm:ss')}"></td>
              <td>
                <form th:if="${!#strings.contains(l.user.roles, 'ADMIN')}"
                      th:action="@{'/admin/toggle/' + ${l.user.id}}" method="post" class="d-inline">
                  <button id="banButton" type="submit" class="btn btn-sm ban-btn"
                    th:classappend="${l.user.enabled} ? 'btn-danger' : 'btn-success'"
                    th:text="${l.user.enabled} ? 'Banear' : 'Desbanear'">
                  </button>
                </form>
              </td>
            </tr>
            <tr th:if="${logs.empty}">
              <td colspan="4" class="text-center"> No hay logs </td>
            </tr>
          </tbody>
        </table>
      
      </div>

    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />

    <script>
      document.addEventListener('click', e =>{
        const banButton = e.target.closest('.ban-btn');
        if (!banButton) return;
        e.preventDefault();
        go(banButton.closest('form').action, 'POST').then(d => {
            banButton.classList.toggle('btn-danger', d.enabled);
            banButton.classList.toggle('btn-success', !d.enabled);
            banButton.textContent = d.enabled? 'Banear' : 'Desbanear';
          });
      });
    </script>
  </body>
</html>
