<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <th:block th:replace="~{fragments/head :: header}" />
    <title th:text="#{favorites.pageTitle}"></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container my-5">

            <!-- Título la vista -->
            <h1 class="text-center mb-4" th:text="#{favorites.title}"></h1>
            
            <!-- Mensaje explicativo en caso de que no se haya inciado sesión -->
            <div id="login-message" class="alert alert-warning d-none">
                Debes de iniciar sesión primero para ver las canciones que te gustan
            </div>
            
            <!-- Mensaje explicativo en caso de que no hayan canciones guardadas -->
            <div id="empty-songs" class="text-center text-muted d-none">
                No tienes todavia canciones guardadas como favortias. Juega juegos y guarda las que te gusten !!!
            </div>

            <!-- Motramos los mensajes -->
            <div id="favorite-songs-container"></div>

        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />

<script th:src="@{/js/components/gartic-game-client.js}" defer></script>    
<script th:src="@{/js/components/piano-roll.js}" defer></script>
<script th:src="@{/js/abcjs-basic-min.js}" defer></script>
<script th:src="@{/js/components/favorite-songs.js}" defer></script>
</body>
</html>

