
:root{
    --white-key-h: 24px;
    --black-key-h: 16px;
    --octave-h: calc(7*var(--white-key-h) + 5*var(--black-key-h))
}

.note-text{
    display: inline-block;
    width: 32px;
    text-align: end;
}

.note {
  width: 36px;
  min-width: 40px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}


.section-end{
    border-right-color: black;
}

.white-key.active {
  background-color: #808;
  border-color: #808;
}


.black-key.active {
  background-color: #606;
  border-color: #606;
}


.white-key {
  height: var(--white-key-h);
  background-color: #ccc;
}

.black-key {
  height: var(--black-key-h);
  background-color: #aaa;
}


.note-roll {
    margin-block: 0;
    padding-block: 0;
}

.h-scroll {
  height: calc(2 * var(--octave-h));
  overflow-y: auto;
  overflow-x: auto;

  white-space: nowrap;
  margin-top: 2em;
}

/* #abcTextRoll, #paper {
  display: none;
}
 */
.note-roll {
  display: flex;
}

.note-text {
  font-size: small;
}

